{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
Bienvenue {{app.user.firstName}} sur votre espace de profil <br>

<div class="my-4">
    <ul>
        <li><a href="{{path('account_password')}}">Modifier son mot de passe </a> </li>
        <li><a href="{{path('account_adress')}}">Ajouter mes adresses</a> </li>
        <li>Mes commandes </li>

    </ul>

</div>
{% endblock %}