{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe {% endblock %}

{% block body %}
<a href="{{path('account')}}">Retourner à mon compte</a>
<hr>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}



{% endblock %}