.action-updatePreparation {
  margin-right: 10px;
  color:yellow;
}
.action-updateDelivery {
  margin-right: 10px;
  color:orange;
}
.action-updateOrderDelivered {
  margin-right: 10px;
  color:green;
}
