{% extends 'base.html.twig' %}

{% block title %}Résultat de votre recherche{% endblock %}

{% block body %}


<div class="row my-4">

    <div class="col-md-12">


        <div>
            <h1>Résultat de votre recherche pour « {{search}} » </h1>
        </div>

        {% if products|length > 0 %}
        {% include "partials/_card2.html.twig" with { 'products' : products} %}

        {% else %}
        <div class="mx-auto">Aucun résultat trouvé</div>

        {% endif %}
    </div>
</div>


<div class="pagination">
    <div class="mx-auto">


        {{ knp_pagination_render(products) }}
    </div>
</div>

{% endblock %}